name: CI
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    paths: ["src/**/*.py"]
  push:
    branches: ["main"]
    tags: ["v[0-9]+.[0-9]+.[0-9]+"] # semantic versioning
defaults:
  run:
    shell: bash
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
        with:
          version: "0.6.10"
          enable-cache: true

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install dev dependencies
        run: uv sync --only-dev

      - name: Ruff Format
        run: uv run ruff format --config pyproject.toml

      - name: Ruff Check
        run: uv run ruff check --fix --config pyproject.toml
