name: Docs
permissions:
  contents: write
on:
  workflow_dispatch:
  push:
    branches:
      - main
defaults:
  run:
    shell: bash
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  deploy-to-GitHub-Pages:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.6.10"
          enable-cache: true
      
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install dev dependencies
        run: uv sync --only-dev

      - name: Deploy documentation
        run: cd docs && uv run mkdocs gh-deploy --force
